@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Acme&family=Arima:wght@200&family=Barlow+Condensed&family=Bona+Nova:ital@1&family=Bruno+Ace+SC&family=Caveat:wght@600;700&family=Changa&family=Clicker+Script&family=Kdam+Thmor+Pro&family=Lexend+Deca&family=Macondo&family=Monoton&family=Noto+Sans+Sogdian&family=Odibee+Sans&family=Oleo+Script:wght@400;700&family=Orbitron:wght@400;500;600;700;800;900&family=Permanent+Marker&family=Philosopher:ital,wght@1,700&family=Play:wght@700&family=Poppins:wght@200;300;400;500;600&family=Rajdhani:wght@600&family=Righteous&family=Teko:wght@300;400;600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Loop&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Acme&family=Arima:wght@200&family=Barlow+Condensed&family=Black+Ops+One&family=Bona+Nova:ital@1&family=Bruno+Ace+SC&family=Caveat:wght@600;700&family=Changa&family=Clicker+Script&family=Kdam+Thmor+Pro&family=Lexend+Deca&family=Macondo&family=Monoton&family=Noto+Sans+Sogdian&family=Odibee+Sans&family=Oleo+Script:wght@400;700&family=Orbitron:wght@400;500;600;700;800;900&family=Permanent+Marker&family=Philosopher:ital,wght@1,700&family=Play:wght@700&family=Poppins:wght@200;300;400;500;600&family=Rajdhani:wght@600&family=Righteous&family=Teko:wght@300;400;600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Loop&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

:root {
    --bg--dark-1: #3d3c47;
    --bg--dark-2: #505050;
    --bg--black-50: #1c1a1d;
    --text--white-1: #fdf9ff;
    --text--white-2: #dddde0;
}

::-webkit-scrollbar {
    width: 0.9em;
    padding: 5px;

}

::-webkit-scrollbar-track {
    background: var(--bg--dark-1);

}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    border-radius: 50px;
    border: 5px solid var(--bg--dark-1);
}

body.light {
    --bg--dark-1: #fdf6f6;
    --bg--dark-2: #999999;
    --bg--black-50: #fff;
    --text--white-1: #0c0b0c;
    --text--white-2: #1d1d1f;
}

body.light .intro-img img {
    mix-blend-mode: normal;
}

body.light .edu-cont .edu-box p {
    color: #000;
}

body.light .edu-cont .edu-box h3 {
    color: #000;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    /* Start slightly below the viewport */
    transition: opacity 1s ease, transform 1s ease;
}

body {
    scroll-behavior: smooth;
    background: var(--bg--dark-1);
    font-family: 'Ubuntu', sans-serif;
    /* overflow-x: hidden; */
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
}

.btn {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: var(--theme-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    box-shadow: 1px 1px 15px 1px rgba(14, 13, 13, 0.308);
}

.btn a {
    font-size: 1.7em;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    transition: 0.3s;
}

.btn::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    top: 50%;
    left: -39px;
    background: var(--theme-color);
    box-shadow: 1px 1px 10px rgba(14, 13, 13, 0.308);
}

.btn::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    top: 50%;
    right: -39px;
    background: var(--theme-color);
    box-shadow: 1px 1px 10px rgba(14, 13, 13, 0.308);
}

.btn:hover {
    background: transparent;
    transition: 0.3s;
}

.btn:hover a {
    color: var(--theme-color);
    transition: 0.3s;
    letter-spacing: 4px;
}

/* ---------------------header starts----------------------------- */

.header {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background: yellow; */
}

.header .logo {
    padding: 2px;
}

.header .logo a {
    font-family: 'Black Ops One', cursive;
    font-size: 2rem;
    color: var(--theme-color);
    letter-spacing: 1px;
}

.header .logo a span {
    letter-spacing: 1px;
    color: var(--text--white-1);
}

.header .settings {
    font-size: 1.5rem;
    color: var(--theme-color);
    display: none;
}

/* ---------------------header ends----------------------------- */


/* ---------------------intro starts----------------------------- */
.intro {
    width: 100%;
    height: 90vh;
    /* background-color: wheat; */
    position: relative;
    display: flex;
    overflow-y: hidden;
}

.intro-text {
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 100px;
}

.text {
    padding: 5px;
    /* background-color: violet; */
    height: fit-content;
    width: 100%;
    padding-left: 50px;
}

.intro-text h1 {
    color: var(--text--white-1);
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.intro-text h1 span {
    color: var(--theme-color);
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px rgba(14, 13, 13, 0.308);
}

.intro-text p {
    color: var(--text--white-2);
    font-size: 1.1em;
    line-height: 35px;
    margin-bottom: 30px;
}

.intro-text p #Codechef {
    color: var(--theme-color);
    font-weight: 700;
}

.intro-text .btn {
    margin-left: 39px;
}

.intro-img {
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
    /* background-color: rgb(13, 88, 63); */
    text-align: center;

}

.intro-img .img-cont {
    position: relative;
    /* background-color: rgb(7, 51, 36); */
    width: 58%;
    display: block;
    margin: auto;
}

.intro-img .img-cont .social-links {
    /* background-color: aqua; */
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 37%;
    left: -10px;

}

.intro-img .img-cont .social-links a {
    font-size: 17px;
    margin-bottom: 7px;
    color: var(--text--white-1);
    transition: 0.3s;
}

.intro-img .img-cont .social-links a:hover {
    color: var(--theme-color);
}

.intro-img img {
    height: 650px;
    width: 100%;
    mix-blend-mode: luminosity;
}

.intro-img .img-cont::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    background: var(--theme-color);
    left: 0;
    top: 20%;
}

.intro-img .img-cont::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    background: var(--theme-color);
    left: 0;
    top: 53%;
}

.nav {
    position: absolute;
    right: 0;
    bottom: 10%;
}

.nav ul {
    /* background-color: #f2f2fc; */
    padding: 2px;
}

.nav ul .item {
    display: block;
    background: var(--theme-color);
    margin-bottom: 13px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.3s;
    box-shadow: 1px 1px 10px rgba(14, 13, 13, 0.308);
}

.nav ul li a {
    font-size: 1.5em;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 20px;
    letter-spacing: 2px;
    color: var(--bg--black-50);
    transition: 0.3s;

}


.nav ul .item:hover {
    background: transparent;
}

.nav ul .item:hover a {
    color: var(--theme-color);
    letter-spacing: 4px;
}


/* ---------------------intro ends----------------------------- */



/* ---------------------about starts----------------------------- */
.about {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 20px;
    padding-left: 50px;
    overflow-y: hidden;
    /* background-color: yellowgreen; */
}

.about h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--theme-color);
}

.about h2 span {
    color: var(--text--white-1);
}

.about p {
    color: var(--text--white-2);
    letter-spacing: 1px;
    line-height: 22px;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.about p a {
    color: var(--theme-color);
    font-weight: 600;
}

.about p span {
    font-style: italic;
    font-weight: 500;
}

/* ---------------------about ends----------------------------- */


/* ---------------------Education starts----------------------------- */
.education {
    position: relative;
    width: 100%;
    height: fit-content;
    /* height: 100vh; */
    padding: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
    overflow-y: hidden;
    /* background-color: yellowgreen; */
}

.education h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 50px;
    color: var(--theme-color);
}

.education h2 span {
    color: var(--text--white-1);
}

.education .edu-cont {
    margin-bottom: 30px;
    width: 90%;
    position: relative;
    /* background-color:violet; */
}

.edu-cont .edu-box {
    position: relative;
    width: 90%;
    background: var(--bg--dark-2);
    top: 0;
    left: 120px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: var(--theme-color);
    padding: 12px 20px;
    box-shadow: 1px 1px 10px rgba(14, 13, 13, 0.308);
}

.edu-cont .edu-box .before {
    position: absolute;
    height: 70px;
    width: 70px;
    background: var(--bg--dark-1);
    border: 4px solid var(--theme-color);
    top: 0;
    left: -105px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px rgba(14, 13, 13, 0.308);
}

.edu-cont .edu-box::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 35px;
    background: var(--theme-color);
    top: 30px;
    left: -35px;
    box-shadow: 1px 1px 10px rgba(14, 13, 13, 0.308);
}

.edu-cont .edu-box .before i {
    font-size: 30px;
    color: var(--text--white-1);
}

.edu-cont .edu-box h3 {
    color: var(--bg--black-50);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.edu-cont .edu-box small {
    font-size: 0.9em;
    font-style: italic;
    color: var(--theme-color-dark);
    font-weight: 700;

}

.edu-cont .edu-box p {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 5px;
    color: var(--bg--black-50);
}

/* ---------------------Education ends----------------------------- */



/* ---------------------experience starts----------------------------- */
.experience {
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 20px;
    padding-left: 50px;
    padding-top: 50px;
    overflow-y: hidden;
}

.experience h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 50px;
    color: var(--theme-color);
}

.experience h2 span {
    color: var(--text--white-1);
}

.exp-cont {
    width: 100%;
    /* background-color: yellowgreen; */
}

.exp {
    width: 100%;
    background: var(--bg--dark-2);
    position: relative;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(14, 13, 13, 0.308);
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--theme-color);
    position: absolute;
    top: 10px;
    left: 20px;
    box-shadow: -2px -2px 15px 2px var(--theme-color);
}


.exp h3 {
    font-size: 1.5em;
    color: var(--text--white-1);
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.exp h3 small {
    background: var(--bg--dark-1);
    padding: 3px 5px;
    font-weight: 300;
    font-size: 0.7em;
    border-radius: 5px;
    color: var(--text--white-2);
}

.exp p {
    font-size: 1.3em;
    color: var(--text--white-2);
    margin-bottom: 10px;
}

.exp ul li {
    font-size: 1em;
    margin-bottom: 5px;
    color: var(--text--white-2);
}

.exp ul li span {
    color: var(--theme-color);
    font-weight: 500;
}

.exp ul li::before {
    content: '\2022';
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    color: var(--theme-color);
}

.exp ul li .btn {
    padding: 2px 5px;
    margin-left: 20px;
}

.exp ul li .btn a {
    font-size: 0.8em;
    letter-spacing: 1px;
}

.exp ul li .btn:hover a {
    letter-spacing: 2px;
}

.exp ul li .btn::before,
.exp ul li .btn::after {
    width: 20px;
}

.exp ul li .btn::before {
    left: -19px;
}

.exp ul li .btn::after {
    right: -19px;
}

/* ---------------------experience ends----------------------------- */

/* ---------------------skills starts----------------------------- */
.skills {
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 20px;
    padding-left: 50px;
    padding-top: 100px;
    overflow-y: hidden;
}

.skills h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 50px;
    color: var(--theme-color);
}

.skills h2 span {
    color: var(--text--white-1);
}

.skills .skills-cont {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 320px);
    gap: 30px;
    margin-bottom: 40px;
    text-align: center;
    flex-wrap: wrap;
    /* background: yellowgreen; */
}

.skills-cont .skill {
    /* height: 320px; */
    padding: 20px;
    background: var(--bg--dark-2);
    border-radius: 50%;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 1px 1px 10px rgba(14, 13, 13, 0.308);

}

.skills-cont .skill img {
    height: 130px;
    margin-bottom: 20px;
}

.skills-cont .skill h3 {
    font-size: 2.7em;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--text--white-1);
    transition: 0.3s;
}

.skills-cont .skill p {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: var(--text--white-2);
    transition: 0.3s;
}

.skills-cont .skill:hover {
    background: var(--theme-color);
    transition: 0.3s;

}

.skills-cont .skill:hover h3,
.skills-cont .skill:hover p {
    color: var(--bg--black-50);
    transition: 0.3s;
}

/* ---------------------skills ends----------------------------- */



/* ---------------------project starts----------------------------- */
.projects {
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 20px;
    padding-left: 50px;
    overflow-y: hidden;
}

.projects h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 50px;
    color: var(--theme-color);
}

.projects h2 span {
    color: var(--text--white-1);

}

.proj-cont {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 30px;
    margin-bottom: 150px;
    /* background-color: yellowgreen; */
}

.proj {
    height: 880px;
    background: var(--text--white-1);
    text-align: center;
    padding: 10px;
    padding-left: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(14, 13, 13, 0.308);
}

.proj h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: var(--bg--black-50);
    font-weight: 600;
    text-transform: uppercase;
}

.proj .vid {
    width: 98%;
    height: 90%;
    position: relative;
}

.proj .vid video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ---------------------project ends----------------------------- */


/* ---------------------contact starts----------------------------- */
.contact {
    width: 100%;
    position: relative;
    height: fit-content;
    background: var(--bg--dark-2);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;
    box-shadow: 1px 1px 15px 1px rgba(14, 13, 13, 0.308);
    overflow-y: hidden;
}

.con-cont {
    width: 90%;
    height: 95%;
    background: var(--bg--dark-1);
    box-shadow: inset 1px 1px 15px 1px rgba(14, 13, 13, 0.308);
    border: 2px solid var(--theme-color);
    text-align: center;
}

.con-cont h3 {
    margin-top: 20px;
    font-size: 2em;
    color: var(--text--white-1);
    margin-bottom: 10px;

}

.links {
    width: 100%;
    height: 88%;
    display: flex;
    /* background: yellowgreen; */

}

.details {
    height: 100%;
    width: 50%;
    padding: 25px;
    padding-left: 35px;
    /* background-color: aqua; */
}

.det {
    padding: 20px;
    background: var(--text--white-1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.det a {
    font-size: 1.7em;
    color: var(--bg--black-50);
    font-weight: 500;
    transition: 0.3s;
}

.det:hover a {
    color: var(--text--white-1);
    transition: 0.3s;
}

#ph:hover {
    background: rgb(147, 35, 170);
    transition: 0.3s;
}

#gm:hover {
    background: rgb(163, 11, 6);
    transition: 0.3s;
}

#wh:hover {
    background: rgb(135, 197, 116);
    transition: 0.3s;
}

#tel:hover {
    background: rgb(6, 117, 151);
    transition: 0.3s;
}

.social-link {
    height: 100%;
    width: 50%;
    /* background-color: rgb(0, 4, 255); */
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 20px;
    padding-left: 50px;
}

.social-link .soc {
    background: var(--theme-color);
    height: 170px;
    border-radius: 10px;
    padding: 30px;
    transition: 0.3s;
}

.social-link .soc a {
    font-size: 5em;
    margin-top: 20px;
    color: var(--theme-color-dark);
    transition: 0.3s;
}

.social-link .soc:hover a {
    color: #fff;
    transition: 0.3s;
}

.social-link #linkedin:hover {
    background: rgb(7, 62, 134);
    transition: 0.3s;
}

.social-link #insta:hover {
    background: linear-gradient(to top left, rgb(219, 205, 6), rgb(204, 19, 133), rgb(7, 62, 134));
    transition: 0.3s;
}

.social-link #git:hover {
    background: #fff;
    transition: 0.3s;
}

.social-link #git:hover a {
    color: #04351a;
    transition: 0.3s;
}

.social-link #code:hover {
    background: rgb(126, 98, 48);
    transition: 0.3s;
}



/* ---------------------contact ends----------------------------- */


/* ---------------------footer starts----------------------------- */
.footer {
    width: 100%;
    padding: 15px;
    background: var(--theme-color);
    text-align: center;
}

.footer h4 {
    font-size: 1.2em;
    color: #000;
    font-weight: 700;
}

/* ---------------------footer ends----------------------------- */


@media (max-width:1360px) {

    .skills .skills-cont {
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 340px);
        gap: 30px;
        margin-bottom: 40px;
        text-align: center;
        flex-wrap: wrap;
        /* background: yellowgreen; */
    }

    .proj {
        height: 680px;
    }

    .det a {
        font-size: 1.2em;
    }

    .social-link {
        padding: 10px;
        grid-template-columns: repeat(2, 180px);
        gap: 15px;
        padding-left: 30px;
    }
}

@media (max-width:1010px) {

    .btn {
        padding: 5px 10px;
        margin-top: 15px;
    }

    .btn a {
        font-size: 1.2em;
    }

    .intro {
        height: fit-content;
    }

    .intro-text {
        margin-top: 70px;
    }

    .intro-text h1 {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .intro-text h1 span {
        font-size: 1.7rem;
    }

    .intro-text p {
        font-size: 0.8em;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .intro-img .img-cont .social-links a {
        display: none;
    }

    .intro-img img {
        height: 450px;
    }

    .nav ul li a {
        font-size: 1em;

    }


    .about h2 {
        font-size: 1.7rem;
        margin-bottom: 20px;
    }


    .about p {
        line-height: 18px;
        font-size: 0.8em;
        margin-bottom: 20px;
    }

    .education {
        padding-bottom: 20px;
    }

    .education h2 {
        font-size: 1.7rem;
    }

    .edu-cont .edu-box .before {
        height: 50px;
        width: 50px;
        top: 5px;
        left: -86px;
    }

    .edu-cont .edu-box .before i {
        font-size: 20px;
    }

    .edu-cont .edu-box h3 {
        font-size: 1rem;
    }

    .edu-cont .edu-box small {
        font-size: 0.7em;

    }

    .edu-cont .edu-box p {
        font-size: 0.8em;
    }

    .experience h2 {
        font-size: 1.7rem;

    }

    .dot {
        height: 15px;
        width: 15px;
        top: 15px;
        left: 25px;
    }

    .exp h3 {
        font-size: 1.1em;
    }

    .exp h3 small {
        font-size: 0.7em;
    }

    .exp p {
        font-size: 1em;

    }

    .exp ul li {
        font-size: 0.85em;
    }

    .exp ul li .btn a {
        font-size: 0.7em;

    }


    .skills h2 {
        font-size: 1.7rem;

    }


    .skills .skills-cont {
        grid-template-columns: repeat(2, 320px);
    }


    .skills-cont .skill img {
        height: 90px;
    }

    .skills-cont .skill h3 {
        font-size: 1.7em;
    }

    .skills-cont .skill p {
        font-size: 1em;
    }

    .projects h2 {
        font-size: 1.7rem;
    }


    .proj {
        height: 480px;
    }

    .proj h3 {
        font-size: 1em;
    }

    .con-cont h3 {
        font-size: 1.5em;

    }

    .det {
        padding: 10px;
    }

    .det a {
        font-size: 0.8em;
    }

    .social-link {
        padding: 25px;
        grid-template-columns: repeat(2, 100px);
        padding-left: 20px;
    }

    .social-link .soc {

        height: 100px;
    }

    .social-link .soc a {
        font-size: 2em;

    }


}

@media (max-width:800px) {
    .proj {
        height: 380px;
    }
}

@media (max-width:615px) {

    .btn {
        padding: 2px 5px;
        margin-top: 8px;
    }

    .btn a {
        font-size: 0.7em;
    }

    .header .logo a {
        font-size: 1rem;

    }

    .intro-text {
        margin-top: 10px;
    }

    .intro-text h1 {
        font-size: 0.55rem;
        margin-bottom: 20px;
    }

    .text {
        padding-left: 20px;
    }

    .intro-text h1 span {
        font-size: 0.8rem;
    }

    .intro-text p {
        font-size: 0.5em;
        line-height: 15px;
        margin-bottom: 10px;
    }

    .intro-img .img-cont .social-links a {
        display: none;
    }

    .intro-img img {
        height: 250px;
    }

    .intro-img .img-cont::before {
        height: 50px;

    }

    .intro-img .img-cont::after {

        height: 50px;

    }

    .nav {
        right: -10px;
        bottom: 2%;
    }

    .nav ul .item {
        margin-bottom: 4px;
        padding: 1px;
        padding-bottom: 3px;
    }

    .nav ul li a {
        font-size: 0.6em;
        margin-left: 10px;
        letter-spacing: 1px;

    }

    .nav ul .item:hover a {
        letter-spacing: 2px;
    }

    .about {
        padding: 10px;
        padding-left: 20px;
    }

    .about h2 {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .about p {
        line-height: 15px;
        font-size: 0.6em;
        margin-bottom: 10px;
    }

    .education {
        /* padding-bottom: 10px; */
        padding-left: 20px;
        padding: 20px;
    }

    .education h2 {
        font-size: 0.8rem;
    }

    .edu-cont .edu-box {
        left: 70px;
    }

    .edu-cont .edu-box .before {
        height: 50px;
        width: 50px;
        top: 5px;
        left: -66px;
    }

    .edu-cont .edu-box::before {
        width: 15px;
        left: -15px;
    }

    .experience {
        padding: 20px;
        padding-left: 20px;
        padding-top: 30px;
    }

    .experience h2 {
        font-size: 0.8rem;
        margin-bottom: 30px;
    }

    .dot {
        height: 15px;
        width: 15px;
        top: 15px;
        left: 25px;
    }

    .exp h3 {
        font-size: 0.8em;
        line-height: 20px;
    }

    .exp h3 small {
        font-size: 0.8em;
    }

    .exp p {
        font-size: 0.7em;

    }

    .exp ul li {
        font-size: 0.65em;
        line-height: 18px;
    }

    .exp ul li .btn a {
        font-size: 0.7em;

    }

    .skills {
        padding-left: 20px;
    }

    .skills h2 {
        font-size: 0.8rem;
        margin-bottom: 20px;

    }


    .skills .skills-cont {
        grid-template-columns: repeat(1, 320px);
        gap: 15px;
    }


    .skills-cont .skill img {
        height: 50px;
        margin-bottom: 10px;
    }

    .skills-cont .skill h3 {
        font-size: 1.1em;
        margin-bottom: 10px;
    }

    .skills-cont .skill p {
        font-size: 0.6em;
        margin-bottom: 10px;
    }

    .projects {
        padding-left: 20px;
    }

    .projects h2 {
        font-size: 0.8rem;
    }


    .proj {
        height: 220px;
        padding: 5px;
        padding-left: 6px;
    }

    .proj h3 {
        font-size: 0.6em;
    }

    .proj .vid {
        width: 99%;

    }

    .contact {
        padding: 20px;
    }

    .con-cont h3 {
        font-size: 0.8rem;
    }

    .links {
        flex-direction: column;
    }

    .details {
        height: 50%;
        width: 100%;
        padding: 25px;
        padding-left: 35px;
    }

    .social-link {
        height: 50%;
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 20px;
        padding-left: 15px;
    }

    .footer {
        padding: 10px;
    }

    .footer h4 {
        font-size: 0.8em;
        font-weight: 900;
    }
}