@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Acme&family=Arima:wght@200&family=Barlow+Condensed&family=Bona+Nova:ital@1&family=Bruno+Ace+SC&family=Caveat:wght@600;700&family=Changa&family=Clicker+Script&family=Kdam+Thmor+Pro&family=Lexend+Deca&family=Macondo&family=Monoton&family=Noto+Sans+Sogdian&family=Odibee+Sans&family=Oleo+Script:wght@400;700&family=Orbitron:wght@400;500;600;700;800;900&family=Permanent+Marker&family=Philosopher:ital,wght@1,700&family=Play:wght@700&family=Poppins:wght@200;300;400;500;600&family=Rajdhani:wght@600&family=Righteous&family=Teko:wght@300;400;600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Loop&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Acme&family=Arima:wght@200&family=Barlow+Condensed&family=Black+Ops+One&family=Bona+Nova:ital@1&family=Bruno+Ace+SC&family=Caveat:wght@600;700&family=Changa&family=Clicker+Script&family=Kdam+Thmor+Pro&family=Lexend+Deca&family=Macondo&family=Monoton&family=Noto+Sans+Sogdian&family=Odibee+Sans&family=Oleo+Script:wght@400;700&family=Orbitron:wght@400;500;600;700;800;900&family=Permanent+Marker&family=Philosopher:ital,wght@1,700&family=Play:wght@700&family=Poppins:wght@200;300;400;500;600&family=Rajdhani:wght@600&family=Righteous&family=Teko:wght@300;400;600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Loop&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

:root {
    --bg--dark-1: #3d3c47;
    --bg--dark-2: #505050;
    --bg--black-50: #1c1a1d;
    --text--white-1: #fdf9ff;
    --text--white-2: #dddde0;
}

::-webkit-scrollbar {
    width: 0.9em;
    padding: 5px;

}

::-webkit-scrollbar-track {
    background: var(--bg--dark-1);

}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    border-radius: 50px;
    border: 5px solid var(--bg--dark-1);
}

/* body.white{
    --bg--dark-1: #f2f2fc;;
    --bg--black-100: #fdf9ff;
    --bg--black-50: #e8dfec;
    --text--black-900: #302e4d;
    --text--black-700: #504e70;
} */
/* fontfamilies:{
    font-family: 'Black Ops One', cursive;
} */
body {
    scroll-behavior: smooth;
    background: var(--bg--dark-1);
    font-family: 'Ubuntu', sans-serif;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
}

.btn {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: var(--theme-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.btn a {
    font-size: 1.7em;
    color: var(--bg--black-50);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    transition: 0.3s;
}

.btn::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    top: 50%;
    left: -39px;
    background: var(--theme-color);
}

.btn::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    top: 50%;
    right: -39px;
    background: var(--theme-color);
}

.btn:hover {
    background: transparent;
    transition: 0.3s;
}

.btn:hover a {
    color: var(--theme-color);
    transition: 0.3s;
    letter-spacing: 4px;
}

/* ---------------------header starts----------------------------- */

.header {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background: yellow; */
}

.header .logo {
    padding: 2px;
}

.header .logo a {
    font-family: 'Black Ops One', cursive;
    font-size: 2rem;
    color: var(--theme-color);
    letter-spacing: 1px;
}

.header .logo a span {
    letter-spacing: 1px;
    color: var(--text--white-1);
}

.header .settings {
    font-size: 1.5rem;
    color: var(--theme-color);
}

/* ---------------------header ends----------------------------- */


/* ---------------------intro starts----------------------------- */
.intro {
    width: 100%;
    height: 90vh;
    /* background-color: wheat; */
    position: relative;
    display: flex;
}

.intro-text {
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 100px;
}

.text {
    padding: 5px;
    /* background-color: violet; */
    height: fit-content;
    width: 100%;
    padding-left: 50px;
}

.intro-text h1 {
    color: var(--text--white-1);
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.intro-text h1 span {
    color: var(--theme-color);
    font-size: 3rem;
    text-transform: uppercase;
}

.intro-text p {
    color: var(--text--white-2);
    font-size: 1.1em;
    line-height: 35px;
    margin-bottom: 30px;
}

.intro-text p #Codechef {
    color: var(--theme-color);
    font-weight: 700;
}

.intro-text .btn {
    margin-left: 39px;
}

.intro-img {
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
    /* background-color: rgb(13, 88, 63); */
    text-align: center;

}

.intro-img .img-cont {
    position: relative;
    /* background-color: rgb(7, 51, 36); */
    width: 58%;
    display: block;
    margin: auto;
}

.intro-img .img-cont .social-links {
    /* background-color: aqua; */
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 37%;
    left: -10px;

}

.intro-img .img-cont .social-links a {
    font-size: 17px;
    margin-bottom: 7px;
    color: var(--text--white-1);
    transition: 0.3s;
}

.intro-img .img-cont .social-links a:hover {
    color: var(--theme-color);
}

.intro-img img {
    height: 650px;
    width: 100%;
    mix-blend-mode: luminosity;
}

.intro-img .img-cont::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    background: var(--theme-color);
    left: 0;
    top: 20%;
}

.intro-img .img-cont::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    background: var(--theme-color);
    left: 0;
    top: 53%;
}

.nav {
    position: absolute;
    right: 0;
    bottom: 10%;
}

.nav ul {
    /* background-color: #f2f2fc; */
    padding: 2px;
}

.nav ul .item {
    display: block;
    background: var(--theme-color);
    margin-bottom: 13px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.3s;
}

.nav ul li a {
    font-size: 1.5em;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 20px;
    letter-spacing: 2px;
    color: var(--bg--black-50);
    transition: 0.3s;

}


.nav ul .item:hover {
    background: transparent;
}

.nav ul .item:hover a {
    color: var(--theme-color);
    letter-spacing: 4px;
}


/* ---------------------intro ends----------------------------- */



/* ---------------------about starts----------------------------- */
.about {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 20px;
    padding-left: 50px;
    /* background-color: yellowgreen; */
}

.about h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--theme-color);
}

.about h2 span {
    color: var(--text--white-1);
}

.about p {
    color: var(--text--white-2);
    letter-spacing: 1px;
    line-height: 22px;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.about p a {
    color: var(--theme-color);
    font-weight: 600;
}

.about p span {
    font-style: italic;
    font-weight: 500;
}

/* ---------------------about ends----------------------------- */


/* ---------------------Education starts----------------------------- */
.education {
    position: relative;
    width: 100%;
    height: fit-content;
    height: 100vh;
    padding: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
    /* background-color: yellowgreen; */
}

.education h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 50px;
    color: var(--theme-color);
}

.education h2 span {
    color: var(--text--white-1);
}

.education .edu-cont {
    margin-bottom: 30px;
    width: 90%;
    position: relative;
    /* background-color:violet; */
}

.edu-cont .edu-box {
    position: relative;
    width: 90%;
    background: var(--bg--dark-2);
    top: 0;
    left: 120px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: var(--theme-color);
    border: 4px solid var(--theme-color);
    padding: 12px 20px;
}

.edu-cont .edu-box .before {
    position: absolute;
    height: 70px;
    width: 70px;
    background: var(--bg--dark-1);
    border: 4px solid var(--theme-color);
    top: 0;
    left: -105px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edu-cont .edu-box::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 35px;
    background: var(--theme-color);
    top: 30px;
    left: -35px;
}

.edu-cont .edu-box .before i {
    font-size: 30px;
    color: var(--text--white-1);
}

.edu-cont .edu-box h3 {
    color: var(--bg--black-50);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.edu-cont .edu-box small {
    font-size: 0.9em;
    font-style: italic;
    color: var(--theme-color-dark);
    font-weight: 700;

}

.edu-cont .edu-box p {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 5px;
    color: var(--bg--black-50);
}

/* ---------------------Education ends----------------------------- */


/* ---------------------skills starts----------------------------- */
.skills {
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 20px;
    padding-left: 50px;
    padding-top: 100px;
}

.skills h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 50px;
    color: var(--theme-color);
}

.skills h2 span {
    color: var(--text--white-1);
}

.skills .skills-cont {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 320px);
    gap: 30px;
    margin-bottom: 40px;
    text-align: center;
    flex-wrap: wrap;
    /* background: yellowgreen; */
}

.skills-cont .skill {
    background-color: white;
    /* height: 320px; */
    padding: 20px;
    background: var(--bg--dark-2);
    border-radius: 50%;
    border-radius: 20px;
    transition: 0.3s;

}

.skills-cont .skill img {
    height: 130px;
    margin-bottom: 20px;
}

.skills-cont .skill h3 {
    font-size: 2.7em;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--text--white-1);
    transition: 0.3s;
}

.skills-cont .skill p {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: var(--text--white-2);
    transition: 0.3s;
}

.skills-cont .skill:hover {
    background: var(--theme-color);
    transition: 0.3s;

}

.skills-cont .skill:hover h3,
.skills-cont .skill:hover p {
    color: var(--bg--black-50);
    transition: 0.3s;
}

/* ---------------------skills ends----------------------------- */

/* ---------------------experience starts----------------------------- */
.experience {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 20px;
    padding-left: 50px;
    padding-top: 50px;
}

.experience h2 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 50px;
    color: var(--theme-color);
}

.experience h2 span {
    color: var(--text--white-1);
}

/* ---------------------experience ends----------------------------- */